label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.sidebar {
  width: 200px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  height: 90vh;
  text-align: center;
}

.moudel {
  border: 1px solid #dcdcdc;
  cursor: move;
  height: 35px;
  line-height: 35px;
  box-shadow: 0px 1px 1px #ECECEC;
  background: #fff;
  margin-bottom: 10px;
}

.title {
  color: #999;
}
